textarea {
  resize: none;
}

body {
  background-color: black;
}

#input-form-div {
  right: 50vw;
}
/* Dropdown Background */
.dropdown-background {
  position: relative;
  width: auto;
  height: 50px;
  background: linear-gradient(
    0deg,
    rgb(255, 20, 20) 0%,
    rgb(126, 0, 0) 35%,
    rgb(0, 0, 0) 100%
  );
  z-index: 1;
}

/*Dropdown Button Style */
.dropbtn {
  position: relative;
  background: linear-gradient(
    0deg,
    rgb(255, 20, 20) 0%,
    rgb(126, 0, 0) 35%,
    rgb(0, 0, 0) 100%
  );
  color: white;
  border: none;
  padding: 6px;
  cursor: pointer;
}
.menu-bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/* The container <div> - needed to postiiton the dropdown content*/
.dropdown {
  z-index: 2;
  bottom: 51px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Title */
h1 {
  text-align: center;
  font-family: "Staatliches", cursive;
  color: rgb(255, 255, 255);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgb(255, 20, 20) 0%,
    rgb(126, 0, 0) 35%,
    rgb(0, 0, 0) 100%
  );
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .menu-bar {
  background-color: white;
}

/* Description */
p {
  text-align: center;
  font-family: "Smooch Sans", sans-serif;
  font-size: 200%;
  color: white;
}

/* SVG placement */
#Layer_1 {
  text-align: center;
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#input-form-div {
  display: block;
  text-align: center;
}

/* Message text area */
#message1 {
  margin: auto;
  width: 200px;
  height: 100px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media only screen and (min-width: 1000px) {
  #message1:focus {
    width: 33vw;
    height: 40vh;
  }
}

@media only screen and (max-width: 1000px) {
  #message1:focus {
    width: 70vw;
    height: 40vh;
  }
}
