.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.column {
  flex: 30%;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 31vw;
}

img:hover {
  box-shadow: 0 0 10px 5px rgb(126, 0, 0);
}
